<form method="post" action="{{ path('professional_delete', {'id': professional.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ professional.id) }}">
    <button class="btn">Delete</button>
</form>
