{% extends 'base.html.twig' %}

{% block title %}Professional index{% endblock %}

{% block body %}
    <h1>Professional index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Email</th>
                <th>Siret</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for professional in professionals %}
            <tr>
                <td>{{ professional.id }}</td>
                <td>{{ professional.lastname }}</td>
                <td>{{ professional.firstname }}</td>
                <td>{{ professional.email }}</td>
                <td>{{ professional.siret }}</td>
                <td>
                    <a href="{{ path('professional_show', {'id': professional.id}) }}">show</a>
                    <a href="{{ path('professional_edit', {'id': professional.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('professional_new') }}">Create new</a>
{% endblock %}
