{% extends 'base.html.twig' %}

{% block title %}Professional{% endblock %}

{% block body %}
    <h1>Professional</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ professional.id }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ professional.lastname }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ professional.firstname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ professional.email }}</td>
            </tr>
            <tr>
                <th>Siret</th>
                <td>{{ professional.siret }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('professional_index') }}">back to list</a>

    <a href="{{ path('professional_edit', {'id': professional.id}) }}">edit</a>

    {{ include('professional/_delete_form.html.twig') }}
{% endblock %}
