{% extends 'base.html.twig' %}

{% block title %}Driver index{% endblock %}

{% block body %}
    <h1>Driver index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Addional_address</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for driver in drivers %}
            <tr>
                <td>{{ driver.id }}</td>
                <td>{{ driver.lastname }}</td>
                <td>{{ driver.firstname }}</td>
                <td>{{ driver.email }}</td>
                <td>{{ driver.phone }}</td>
                <td>{{ driver.address }}</td>
                <td>{{ driver.addionalAddress }}</td>
                <td>
                    <a href="{{ path('driver_show', {'id': driver.id}) }}">show</a>
                    <a href="{{ path('driver_edit', {'id': driver.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('driver_new') }}">Create new</a>
{% endblock %}
