{% extends 'base.html.twig' %}

{% block title %}Driver{% endblock %}

{% block body %}
    <h1>Driver</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ driver.id }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ driver.lastname }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ driver.firstname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ driver.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ driver.phone }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ driver.address }}</td>
            </tr>
            <tr>
                <th>Addional_address</th>
                <td>{{ driver.addionalAddress }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('driver_index') }}">back to list</a>

    <a href="{{ path('driver_edit', {'id': driver.id}) }}">edit</a>

    {{ include('driver/_delete_form.html.twig') }}
{% endblock %}
