<form method="post" action="{{ path('advertisement_delete', {'id': advertisement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ advertisement.id) }}">
    <button class="btn">Delete</button>
</form>
