{% extends 'base.html.twig' %}

{% block title %}Advertisement index{% endblock %}

{% block body %}
    <h1>Advertisement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Price</th>
                <th>Reference</th>
                <th>PublishAt</th>
                <th>Simple_description</th>
                <th>Status</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for advertisement in advertisements %}
            <tr>
                <td>{{ advertisement.id }}</td>
                <td>{{ advertisement.title }}</td>
                <td>{{ advertisement.price }}</td>
                <td>{{ advertisement.reference }}</td>
                <td>{{ advertisement.publishAt ? advertisement.publishAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ advertisement.simpleDescription }}</td>
                <td>{{ advertisement.status }}</td>
                <td>{{ advertisement.description }}</td>
                <td>
                    <a href="{{ path('advertisement_show', {'id': advertisement.id}) }}">show</a>
                    <a href="{{ path('advertisement_edit', {'id': advertisement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('advertisement_new') }}">Create new</a>
{% endblock %}
