{% extends 'base.html.twig' %}

{% block title %}Advertisement{% endblock %}

{% block body %}
    <h1>Advertisement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ advertisement.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ advertisement.title }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ advertisement.price }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ advertisement.reference }}</td>
            </tr>
            <tr>
                <th>PublishAt</th>
                <td>{{ advertisement.publishAt ? advertisement.publishAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Simple_description</th>
                <td>{{ advertisement.simpleDescription }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ advertisement.status }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ advertisement.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('advertisement_index') }}">back to list</a>

    <a href="{{ path('advertisement_edit', {'id': advertisement.id}) }}">edit</a>

    {{ include('advertisement/_delete_form.html.twig') }}
{% endblock %}
