<form method="post" action="{{ path('garage_delete', {'id': garage.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ garage.id) }}">
    <button class="btn">Delete</button>
</form>
