{% extends 'base.html.twig' %}

{% block title %}Garage index{% endblock %}

{% block body %}
    <h1>Garage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>MainPhone</th>
                <th>SecondaryPhone</th>
                <th>Address</th>
                <th>Addional_address</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for garage in garages %}
            <tr>
                <td>{{ garage.id }}</td>
                <td>{{ garage.name }}</td>
                <td>{{ garage.mainPhone }}</td>
                <td>{{ garage.secondaryPhone }}</td>
                <td>{{ garage.address }}</td>
                <td>{{ garage.addionalAddress }}</td>
                <td>
                    <a href="{{ path('garage_show', {'id': garage.id}) }}">show</a>
                    <a href="{{ path('garage_edit', {'id': garage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('garage_new') }}">Create new</a>
{% endblock %}
