{% extends 'base.html.twig' %}

{% block title %}New Garage{% endblock %}

{% block body %}
    <h1>Create new Garage</h1>

    {{ include('garage/_form.html.twig') }}

    <a href="{{ path('garage_index') }}">back to list</a>
{% endblock %}
