{% extends 'base.html.twig' %}

{% block title %}Garage{% endblock %}

{% block body %}
    <h1>Garage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ garage.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ garage.name }}</td>
            </tr>
            <tr>
                <th>MainPhone</th>
                <td>{{ garage.mainPhone }}</td>
            </tr>
            <tr>
                <th>SecondaryPhone</th>
                <td>{{ garage.secondaryPhone }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ garage.address }}</td>
            </tr>
            <tr>
                <th>Addional_address</th>
                <td>{{ garage.addionalAddress }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('garage_index') }}">back to list</a>

    <a href="{{ path('garage_edit', {'id': garage.id}) }}">edit</a>

    {{ include('garage/_delete_form.html.twig') }}
{% endblock %}
