{% extends 'base.html.twig' %}

{% block title %}Choice index{% endblock %}

{% block body %}
    <h1>Choice index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for choice in choices %}
            <tr>
                <td>{{ choice.id }}</td>
                <td>{{ choice.date ? choice.date|date('Y-m-d') : '' }}</td>
                <td>{{ choice.status ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('choice_show', {'id': choice.id}) }}">show</a>
                    <a href="{{ path('choice_edit', {'id': choice.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('choice_new') }}">Create new</a>
{% endblock %}
