{% extends 'base.html.twig' %}

{% block title %}Choice{% endblock %}

{% block body %}
    <h1>Choice</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ choice.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ choice.date ? choice.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ choice.status ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('choice_index') }}">back to list</a>

    <a href="{{ path('choice_edit', {'id': choice.id}) }}">edit</a>

    {{ include('choice/_delete_form.html.twig') }}
{% endblock %}
