{% extends 'base.html.twig' %}

{% block title %}File{% endblock %}

{% block body %}
    <h1>File</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ file.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ file.name }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ file.url }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('file_index') }}">back to list</a>

    <a href="{{ path('file_edit', {'id': file.id}) }}">edit</a>

    {{ include('file/_delete_form.html.twig') }}
{% endblock %}
