{% extends 'base.html.twig' %}

{% block title %}Car{% endblock %}

{% block body %}
    <h1>Car</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ car.id }}</td>
            </tr>
            <tr>
                <th>Km</th>
                <td>{{ car.km }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ car.year ? car.year|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>RegistrationNumber</th>
                <td>{{ car.registrationNumber }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('car_index') }}">back to list</a>

    <a href="{{ path('car_edit', {'id': car.id}) }}">edit</a>

    {{ include('car/_delete_form.html.twig') }}
{% endblock %}
