{% extends 'base.html.twig' %}

{% block title %}Maintenance{% endblock %}

{% block body %}
    <h1>Maintenance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ maintenance.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ maintenance.type }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ maintenance.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ maintenance.date ? maintenance.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>MaintenanceKm</th>
                <td>{{ maintenance.maintenanceKm }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('maintenance_index') }}">back to list</a>

    <a href="{{ path('maintenance_edit', {'id': maintenance.id}) }}">edit</a>

    {{ include('maintenance/_delete_form.html.twig') }}
{% endblock %}
