<form method="post" action="{{ path('model_delete', {'id': model.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ model.id) }}">
    <button class="btn">Delete</button>
</form>
