{% extends 'base.html.twig' %}

{% block title %}Model index{% endblock %}

{% block body %}
    <h1>Model index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>ServiceIntervalKm</th>
                <th>ServiceIntervalMonth</th>
                <th>TimingBeltFreqencyKm</th>
                <th>TimingBeltFreqencyYear</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for model in models %}
            <tr>
                <td>{{ model.id }}</td>
                <td>{{ model.name }}</td>
                <td>{{ model.serviceIntervalKm }}</td>
                <td>{{ model.serviceIntervalMonth }}</td>
                <td>{{ model.timingBeltFreqencyKm }}</td>
                <td>{{ model.timingBeltFreqencyYear }}</td>
                <td>
                    <a href="{{ path('model_show', {'id': model.id}) }}">show</a>
                    <a href="{{ path('model_edit', {'id': model.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('model_new') }}">Create new</a>
{% endblock %}
