{% extends 'base.html.twig' %}

{% block title %}Model{% endblock %}

{% block body %}
    <h1>Model</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ model.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ model.name }}</td>
            </tr>
            <tr>
                <th>ServiceIntervalKm</th>
                <td>{{ model.serviceIntervalKm }}</td>
            </tr>
            <tr>
                <th>ServiceIntervalMonth</th>
                <td>{{ model.serviceIntervalMonth }}</td>
            </tr>
            <tr>
                <th>TimingBeltFreqencyKm</th>
                <td>{{ model.timingBeltFreqencyKm }}</td>
            </tr>
            <tr>
                <th>TimingBeltFreqencyYear</th>
                <td>{{ model.timingBeltFreqencyYear }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('model_index') }}">back to list</a>

    <a href="{{ path('model_edit', {'id': model.id}) }}">edit</a>

    {{ include('model/_delete_form.html.twig') }}
{% endblock %}
