<!doctype html>
<html lang="fr">
<head>
</head>
<body>
<div class="body">
    <div class="container">
        <div class="header text-center">
        </div>
        <div class="content">
            <h1 class="text-center">Hello {{firstname}}</h1>
            <p class="block">
                Vous recevez cette email car un compte vient d'etre créer sur l'application rasAuto.
            </p>
            <p class="block">
                Pour confirmer votre adresse email cliquer sur <a classe="btn btn-primary" href="{{signedUrl}}">{{signedUrl}}</a>
            </p>
            <p>Si le vous n'arrivez pas à cliquer sur le lien vous pouvez le copier et le coller dans un navigateur internet</p>
        </div>
    </div>
</div>
</body>
</html>