<!doctype html>
<html lang="fr">
<head>
</head>
<body>
<div class="body">
    <div class="container">
        <div class="header text-center">
        </div>
        <div class="content">
            <h1 class="text-center">Bonjour</h1>
            <p class="block">
                Pour activé le compte de {{firstname}} cliquer sur ce lien <a href="{{signedUrl}}">{{signedUrl}}</a>
            </p>
            <p>Si le vous n'arrivez pas à cliquer sur le lien vous pouvez le copier et le coller dans un navigateur internet</p>
        </div>
    </div>
</div>
</body>
</html>